= simple_form_for(@post) do |f|
  .listing-content
    = f.error_notification

    .row.post-content
      = f.input :title
    .row.post-content
      = f.input :body, :as => :ckeditor   
  .row.blog-show-page
    .blog-post-author
      = f.button :submit, class: "btn btn-primary"
    .blog-post-date
      - if action_name == "edit"
        = link_to 'Show', @post, class: "btn btn-primary"