= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    .row
      = f.input :title
    %br 
    .row
      = f.input :body, :as => :ckeditor
  %br     
  .row    
    .form-actions
      .pull-right
        = f.button :submit, class: "btn btn-primary"
