%h1 Listing posts
= form_tag posts_path, :method => 'get' do
  = text_field_tag :search, params[:search]
  = submit_tag "Search", name: nil, class: "btn btn-primary"
%table
  %tr
    %th Title
    %th Body
    %th Written by
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.body
      %td= post.user.username
      %td= link_to 'Show', post
      - if post.users_post(current_user)
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
