%h1 Listing posts
%table.table
  %thread
    %tr
      %th Title
      %th Body
      %th Written by
      %th Published date
      %th
      %th
      %th

  - @posts.each do |post|
    %tbody
      %tr
        %td= link_to post.title, post
        %td= post.body.html_safe
        %td= post.user.username
        %td= post.published_at
        / %td= link_to 'Show', post
        / - if post.users_post(current_user)
        /   %td= link_to 'Edit', edit_post_path(post)
        /   %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
