%p#notice= notice

%p
  %b Title:
  = @post.title
%p
  %b Body:
  = @post.body.html_safe
  .row
    .col-md-2
      Written By
    .col-md-1
      = @post.user.username
    .col-d-5.pull-right
      - if @post.users_post(current_user)
        - if @post.published?
          / = @post.published_at
          = link_to "unpublish", unpublished_post_path, class: "btn btn-primary"
        - else
          = link_to "publish", published_post_path, class: "btn btn-primary"

        = link_to 'Edit', edit_post_path(@post), class: "btn btn-primary"
/ \|
/ = link_to 'Back', posts_path
